<% include ../partials/header %>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
        <h1>Edit Campground: <%= campground.name%></h1>
        </div>
        <div class="cols-xs-12">
             <form class="campgroundform" action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Camp Name</label>
                    <input class="form-control" type="text" name="campground[name]" placeholder="name" value="<%=campground.name%>"  required>
                </div>
                <div class="form-group">
                    <label>Camp Image Url</label>
                    <input class="form-control" type="file" name="image" placeholder="image url" accept="image/*" multiple>
                     <small>Max 5 image</small>
                </div>
                <div class="form-group">
                    <label>Location</label>
                    <input class="form-control" type="text" name="campground[location]" placeholder="E.g. Yosemite National Park, CA" value="<%= campground.location %>" required>
                </div>
                <div class="form-group">
                    <label>Camp Description </label>
                    <input class="form-control" type="text" name="campground[description]" placeholder="description" value="<%=campground.description%>"  required>
                </div>
                <div class="form-group">
                    <label>Camp Price </label>
                    <input class="form-control" type="number" name="campground[price]" placeholder="enter price" min="0.01" step="0.01" value="<%= campground.price %>" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-warning btn-block" type="submit">UPDATE!</button>
                </div>
            </form>
            <a class="btn btn-outline-primary" href="/campgrounds/<%= campground._id%>"><i class="fa fa-arrow-left"></i>Go Back</a>

        <div class="form">
            <div class="modal"></div>
            <div class="text-center">
                <div class="spinner-border" style="display:none" role="status" >
                <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>